<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <!-- El autocomplete en "off" es para que las validaciones no sean del navegador -->
        <!-- Para enlazar el objeto myForm usamos el [formGroup] -->
        <!-- Para que el submit lo maneje angular debemos usar (ngSubmit) -->
        <form [formGroup]="myForm" 
              (ngSubmit)="onSave()"   
              autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    
                    <!-- Para vincular cada propiedad del objeto myForm usamos el atributo formControlName -->
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="name">

                    <!-- A los métodos le pasamos como parámetro el valor del formControlName -->
                    <span *ngIf="noEsCampoValido('name')"
                          class="form-text text-danger">
                          
                        <!-- Debe de ser de 3 letras -->
                        {{ getCampoError('name') }}
                    </span>
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Precio del producto"
                           formControlName="price">

                    <span *ngIf="noEsCampoValido('price')" 
                          class="form-text text-danger">

                        <!-- Si la opción es única no tiene sentido invocar sl método getCampoError -->  
                        El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Existencias del producto"
                           formControlName="inStorage">

                    <span *ngIf="noEsCampoValido('inStorage')" 
                          class="form-text text-danger">

                         Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>




<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid | json }}</pre>

        <!-- No se toco el formulario de ninguna manera -->
        <span>Pristine</span>
        <pre>{{ myForm.pristine | json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched | json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>Precio</span>
        <pre>{{ myForm.controls['price'].value | json }}</pre>
        
        <span>Precio - Errors</span>
        <pre>{{ myForm.controls['price'].errors | json }}</pre>
        
        <span>Producto</span>
        <pre>{{ myForm.controls['name'].value | json }}</pre>

        <span>Producto - Errors</span>
        <pre>{{ myForm.controls['name'].errors | json }}</pre>
    </div>
</div><h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">

                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del producto">

                    <span class="form-text text-danger">
                        <!-- Debe de ser de 3 letras -->
                        error message
                    </span>
                </div>
            </div>

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Precio del producto">
                    <span class="form-text text-danger">
                        El precio debe de ser 0 o mayor
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number"
                           class="form-control"
                           placeholder="Existencias del producto">

                    <span class="form-text text-danger">
                         Las existencias deben de ser 0 o mayor
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>

    </div>
</div>




<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Pristine</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Touched</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Value</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Precio</span>
        <pre>{{ 'objeto' | json }}</pre>

        <span>Producto</span>
        <pre>{{ 'objeto' | json }}</pre>
    </div>
</div>